@media screen and (min-width: 924px) {
    aboutme {
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }

    aboutme div.blockimage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        max-width: 500px;
    }

    aboutme div.blockimage img {
        width: 100%;
        padding: 20px;
        border-radius: 0;
        border: 1px solid #BDBDBD;
    }

    aboutme div.blocktext {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    projects {
        width: 100%;
    }

    projects div.projectsarea {
        width: 100%;
    }

    projects div.projectsarea div.project {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 78%;
        max-width: none;
    }

    projects div.projectsarea div.project div.projectimage {
        width: 50%;
    }

    .projectdescription {
        width: 50%;
    }
}


@media screen and (min-width: 720px) and (max-width: 923px) {

    aboutme {
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }

    aboutme div.blockimage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    aboutme div.blockimage img {
        width: 100%;
        padding: 20px;
        border-radius: 0;
        border: 1px solid #BDBDBD;
    }

    aboutme div.blocktext {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    projects {
        width: 100%;
    }

    projects div.projectsarea {
        width: 100%;
    }

    projects div.projectsarea div.project {
        width: 100%;
        max-width: none;
    }

    projects div.projectsarea div.project div.projectimage {
        width: 100%;
    }

    projects div.projectsarea div.project div.projectimage img:hover {
        transform: scale(1.02);
    }
    projects div.projectdescription {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}