@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --black: #212624;
    --blue: #2E303E;
    --grey: #BDBDBD;
    --lightblue: #54678F;
    --lightpurple: #9199BE;
    --green: #19C37D;
    --font: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

body::-webkit-scrollbar {
    width: 0;
}

div.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--black);

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    gap: 10px;
    top: 0;
    z-index: 1;
    margin-bottom: 150px;
}

header a {
    padding: 10px 26px;
    user-select: none;
    font-weight: 700;
    color: white;
    background-color: var(--green);
    text-decoration: none;
    border-radius: 8px;
    transition: 0.4s;
}

header a:hover {
    color: var(--green);
    background-color: var(--black);
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.500);
    animation: flutuar 1.5s infinite;
}

section {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--black);
}

article h1{
    text-align: center;
    font-size: 2.3em;
    color: white;
    user-select: none;
}

article h3 {
    position: relative;
    padding-bottom: 20px;
    font-size: 1.5em;
    color: var(--grey);
    user-select: none;
}

article h3::after {
    content: '';
    position: absolute;
    text-align: center;
    left: 25%;
    width: 50%;
    bottom: 0;
    color: white;
    border-bottom: 3px solid white;
}

article a {
    padding: 15px 50px 15px 50px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    background-color: var(--green);
    user-select: none;
    text-decoration: none;
    transition: 0.4s;
}

article a:hover {
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.500);
    color: var(--green);
    background-color: var(--black);
    animation: flutuar 1.5s infinite;
}

aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #212624;
}

aboutme div.blockimage {
    width: 200px;
}

aboutme div.blockimage img {
    width: 100%;
    object-fit: cover;
    object-position: center; 
    user-select: none;
    padding: 20px;
    border: 1px solid var(--grey);
}

aboutme div.blocktext {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    width: 100%;
    position: relative;
}

aboutme div.blocktext h1 {
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    font-size: 2em;
    color: white;
    user-select: none;
}

aboutme div.blocktext h1::after {
    content: '';
    position: absolute;
    width: 10%;
    left: 45%;
    bottom: 0;
    color: white;
    border-bottom: 4px solid var(--green);
    transition: width 0.5s ease, left 0.5s ease; 
}

aboutme div.blocktext h1:hover::after {
    width: 100%;
    left: 0%;
}

aboutme div.blocktext h4 {
    text-align: justify;
    word-wrap: break-word;
    color: var(--grey);
    user-select: none;
}

projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

projects h1 {
    position: relative;
    font-size: 2em;
    color: white;
    padding-bottom: 10px;
}

projects h1#project::after {
    content: '';
    position: absolute;
    text-align: center;
    width: 50%;
    left: 25%;
    bottom: 0px;
    color: white;
    border-bottom: 4px solid var(--green);
    transition: width 0.5s ease, left 0.5s ease; 
}

projects h1#project:hover::after {
    width: 100%;
    left: 0px;
}

projects div.projectsarea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

projects div.projectsarea div.project {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    min-height: 500px;
    padding: 20px;
    gap: 20px;
    border: 1px solid var(--grey);
}

projects div.projectsarea div.project h3 {
    color: var(--grey);
    user-select: none;
}

projects div.projectsarea div.project h4 {
    word-wrap: break-word;
    color: white;
    user-select: none;
}

projects div.projectimage {
    width: 100%;
}

projects div.projectimage img {
    object-fit: cover;
    object-position: center;
    user-select: none;
    width: 100%;
    transition: 0.4s all ease;
}

projects div.projectimage img:hover {
    transform: scale(1.04);
}

projects div.projectdescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


projects div.projectbuttons {
    display: flex;
    gap: 20px;
}

projects div.projectbuttons a {
    padding: 8px;
    font-weight: 700;
    color: white;
    background-color: var(--green);
    border-radius: 6px;
    user-select: none;
    text-decoration: none;
    transition: 0.4s;
}

projects div.projectbuttons a:hover {
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.500);
    color: var(--green);
    background-color: var(--black);
    animation: flutuar 1.5s infinite;
}


tecnologies {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--black);
}

tecnologies h1 {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-size: 2em;
    color: white;
    user-select: none;
}

tecnologies h1::after {
    content: '';
    position: absolute;
    text-align: center;
    width: 50%;
    left: 25%;
    bottom: 0;
    color: white;
    border-bottom: 4px solid var(--green);
    transition: width 0.5s ease, left 0.5s ease; 
}

tecnologies h1:hover::after {
    width: 100%;
    left: 0%;
}

tecnologies div.tecnologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 12px;
}

tecnologies div.tecnologies div.tecnology {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    width: 100px;
    border: 1px solid var(--grey);
    color: var(--green);
    transition: 0.4s all ease;
} 

tecnologies div.tecnologies div.tecnology:hover {
    background-color: var(--green);
    box-shadow: 1px 1px 16px rgba(255, 255, 255, 0.500);
    transform: scale(1.08);
    color: white;
    animation: flutuar 1.5s infinite;
}

tecnologies  div.tecnologies div.tecnology p {
    font-weight: 600;
    color: white;
    user-select: none;
}

contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

contacts div.socialmedias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

contacts div.socialmedias a {
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

contacts div.socialmedias a:hover {
    color: var(--green);
    animation: flutuar 1.5s infinite;
}

contacts h1 {
    position: relative;
    padding-bottom: 10px;
    color: white;
}

contacts h1::after {
    content: '';
    position: absolute;
    text-align: center;
    width: 50%;
    left: 25%;
    bottom: 0px;
    color: white;
    height: 4px;
    background-color: var(--green);
    transition: width 0.5s ease, left 0.5s ease; 
}

contacts h1:hover::after {
    width: 100%;
    left: 0%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input, form textarea {
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    border-bottom: 3px solid var(--grey);
    background-color: transparent;
    transition: 0.4s all ease;
}

form input:hover, form textarea:hover {
    border-bottom: 3px solid var(--green);
}

form button {
    padding: 8px;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    font-size: 1em;
    border-radius: 8px;
    background-color: var(--green);
    transition: 0.4s;
}

form button:hover {
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.500);
    color: var(--green);
    background-color: var(--black);
    animation: flutuar 1.5s infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}