@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --black: #212624;
    --blue: #2E303E;
    --grey: #BDBDBD;
    --lightblue: #54678F;
    --lightpurple: #9199BE;
    --green: #19C37D;
    --font: 'Open Sans', sans-serif;
}

body {
    background-color: var(--black);
}

body::-webkit-scrollbar {
    width: 0;
}

div.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px 0px 150px 0px;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: white;
    padding: 10px 26px;
    background-color: var(--green);
    border-radius: 8px;
    font-weight: 700;
    transition: 0.4s;
    user-select: none;
}

header a:hover {
    background-color: var(--black);
    color: white;
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.500);
}

section {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--black);
}

article h1{
    font-size: 2.3em;
    color: white;
    user-select: none;
}

article h3 {
    font-size: 1.5em;
    padding-bottom: 20px;
    position: relative;
    color: var(--grey);
    user-select: none;
}

article h3::after {
    content: '';
    position: absolute;
    left: 25%;
    bottom: 0;
    text-align: center;
    width: 50%;
    border-bottom: 3px solid white;
    color: white;
}

article a {
    font-weight: 700;
    text-decoration: none;
    padding: 15px 50px 15px 50px;
    border-radius: 8px;
    color: white;
    background-color: var(--green);
    transition: 0.4s;
    user-select: none;
}

article a:hover {
    background-color: var(--black);
    color: white;
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.500);
}

aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #212624;
}

aboutme div.blockimage {
    width: 200px;
}

aboutme div.blockimage img {
    width: 100%;
    object-fit: cover;
    object-position: center; 
    border-radius: 50%;
    user-select: none;
}

aboutme div.blocktext {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

aboutme div.blocktext {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

aboutme div.blocktext h1 {
    color: white;
    user-select: none;
    font-size: 2em;
}

aboutme div.blocktext h4 {
    color: var(--grey);
    text-align: justify;
    user-select: none;
    word-wrap: break-word;
}

aboutme div.blocktext h4::after{
    content: '';
    position: absolute;
    left: 20px;
    bottom: 0;
    text-align: center;
    width: 50%;
    border-bottom: 5px solid var(--green);
    color: white;    
}

tecnologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: var(--black);
}

tecnologies h1 {
    color: white;
    position: relative;
    padding-bottom: 10px;
    font-size: 2em;
    user-select: none;
}

tecnologies div.tecnologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

tecnologies div.tecnologies div.tecnology {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 100px;
    gap: 10px;
    border: 1px solid var(--grey);
}

tecnologies  div.tecnologies div.tecnology img {
    user-select: none;
}

tecnologies  div.tecnologies div.tecnology p {
    color: white;
    user-select: none;
    font-weight: 600;
}

projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
}

projects div.projectsarea {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
projects div.projectsarea div.project {
    display: flex;
    max-width: 500px;
    min-height: 500px;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border: 1px solid white;
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.500);
}

projects div.projectsarea div.project h3 {
    color: var(--grey);
    user-select: none;
}

projects div.projectsarea div.project h4 {
    color: white;
    text-align: justify;
    user-select: none;
    word-wrap: break-word;
}

projects div.projectimage {
    width: 100%;
}

projects div.projectimage img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
    transition: 0.4s;
}

projects div.projectimage img:hover {
    transform: scale(1.04);
}

projects div.projectbuttons {
    display: flex;
    gap: 20px;
}

projects div.projectbuttons a {
    padding: 8px;
    text-decoration: none;
    background-color: var(--green);
    color: white;
    font-weight: 700;
    transition: 0.4s;
    border-radius: 6px;
    user-select: none;
}

projects div.projectbuttons a:hover {
    background-color: var(--black);
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.500);
}

