<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Victor Amaral Mendonça</title>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
<script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="options">
                <a href="">HOME</a>
                <a href="">ABOUT</a>
                <a href="">PROJECTS</a>
                <a href="">CONTACT</a>
            </div>
        </header>
        <section>
            <article>
                <h1>Hello!, I'm Victor Amaral</h1>
                <h3>FullStack Developer</h3>
                <a href="">CURRICULUM</a>
                <div class="contacts">
                    <p>victoramaral@gmail.com</p>
                    <i class="fa-solid fa-arrow-turn-down"></i>
                    <div>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-github"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </article>
            <article class="about">
                <h1>About Me</h1>
                <div>
                    <div class="description">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi vero earum rerum sunt quas alias laborum pariatur quisquam labore atque exercitationem, optio quis, sed, necessitatibus similique magni doloribus? Facilis, dolores!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure repellendus, exercitationem iste magnam nostrum esse excepturi molestiae. Aliquid a neque quo ratione fugit, animi pariatur nesciunt earum unde, magni sed?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci laudantium suscipit illo, et nesciunt vel consequuntur totam accusamus delectus excepturi quod qui facere quis necessitatibus quia doloribus! Officia, placeat expedita?
                        </p>
                    </div>
                    <div class="photo">
                        <img src="../static/img/me.jpg" alt="">
                    </div>
                </div>
            </article>
            <article class="tecnologies">
                <h1>My Skills</h1>
                <div id="carrosel">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />  
                    <i class="devicon-django-plain"></i>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />
                </div>
            </article>
            <article class="projects">
                <h1>Projetos</h1>
                <div class="projectarea">
                    <div class="project">
                        <div class="projectimage">
                            <img src="../static/img/me.jpg" alt="">
                        </div>
                        <h2>PORTFOLIO</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptate provident voluptas esse necessitatibus, quo perferendis consequatur illum nulla iste, voluptatem assumenda quas hic odio odit magnam mollitia neque adipisci?</p>
                        <div class="languages">
                            <h4>HTML</h4>
                            <h4>CSS</h4>
                            <h4>JAVASCRIPT</h4>
                        </div>
                        <div class="projectbuttons">
                            <a href="">VIEW PROJECT</a>
                            <a href="">VIEW CODE</a>
                        </div>
                    </div>
                    <div class="project">
                        <div class="projectimage">
                            <img src="../static/img/me.jpg" alt="">
                        </div>
                        <h2>PORTFOLIO</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, voluptate provident voluptas esse necessitatibus, quo perferendis consequatur illum nulla iste, voluptatem assumenda quas hic odio odit magnam mollitia neque adipisci?</p>
                        <div class="languages">
                            <h4>HTML</h4>
                            <h4>CSS</h4>
                            <h4>JAVASCRIPT</h4>
                        </div>
                        <div class="projectbuttons">
                            <a href="">VIEW PROJECT</a>
                            <a href="">VIEW CODE</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>