<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/layout.jpg" type="image/x-icon">
    <title>Portfolio - Victor Amaral Mendonça</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <script src="https://kit.fontawesome.com/c99caadda1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header id="header">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Projects</a>
            <a href="">Contacts</a>
            <a onclick="changeLanguage('pt-br')">Português</a>
        </header>
        <section>
            <article>
                <h1 data-translate="hello">Hello, I'm Viktor Amaral</h1>
                <h3 data-translate="job">BackEnd - Developer</h3>
                <a data-translate="cv" href="">Curriculum</a>
            </article>
            <aboutme>
                <div class="blockimage">
                    <img src="../static/img/Ben Tennyson.jpg" alt="">
                </div>
                <div class="blocktext">
                    <h1 data-translate="h1aboutme">About Me</h1>
                    <h4 data-translate="h4aboutme">BackEnd Programmer with Expertise in <span style="color: #19C37D;">Django</span>, <span style="color: #19C37D;">Python</span>, <span style="color: #19C37D;">JavaScript</span>, <span style="color: #19C37D;">MySQL</span> And Basic Knowledge In <span style="color: #19C37D;">Cloud</span>.
                    </h4>

                    <h4 data-translate="h4aboutme2">Currently, I am dedicated to developing solutions for small businesses and undertaking personal projects to keep me constantly learning</h4>
                </div>
            </aboutme>
            <tecnologies>
                <h1 data-translate="tech">Tech</h1>
                <div class="tecnologies">
                    <div id="django" class="tecnology">
                        <i style="font-size: 3.6em;" class="devicon-django-plain"></i>
                        <p>Django</p>
                    </div>
                    <div id="mysql" class="tecnology">
                        
                        <i style="font-size: 3.6em;" class="devicon-mysql-plain colored"></i>
          
                        <p>MySQL</p>
                    </div>
                    <div id="python" class="tecnology">
                        
                        <i style="font-size: 3.6em;" class="devicon-python-plain"></i>
          
                        <p>Python</p>
                    </div>
                    <div id="javascript" class="tecnology">
                        
                        <i style="font-size: 3.6em;"  class="devicon-javascript-plain"></i>
          
                        <p>JavaScript</p>
                    </div>
                    <div id="git" class="tecnology">
                        
                        <i style="font-size: 3.6em;"  class="devicon-git-plain"></i>
          
                        <p>Git</p>
                    </div>
                    <div id="github" class="tecnology">
                        <i style="font-size: 3.6em;" class="devicon-github-original"></i>
                        <p>GitHub</p>
                    </div>
                    <div id="html" class="tecnology">
                        
                        <i style="font-size: 3.6em;"  class="devicon-html5-plain"></i>
          
                        <p>HTML5</p>
                    </div>
                    <div id="css" class="tecnology">
                        
                        <i style="font-size: 3.6em;"  class="devicon-css3-plain"></i>
          
                        <p>CSS3</p>
                    </div>
                </div>
            </tecnologies>
            <projects>
                <h1 data-translate="projects" >Projects</h1>
                <div class="projectsarea">
                    <div class="project">
                        <div class="projectimage">
                            <img src="../static/img/blogmind.png" alt="">
                        </div>
                        <h1 data-translate="project1">Project - BlogMind</h1>
                        <h3 data-translate="h3project1">
                            The BlogMind aims to provide knowledge in various areas, making it accessible to everyone. Additionally, we offer interactive pages for easy comprehension to further enrich your experience!
                        </h3>

                        <h3 data-translate="h3project11">
                            We are an open community, welcoming curious minds in the pursuit and sharing of knowledge.😊
                        </h3>

                        <h3 data-translate="h3project111">
                            With an interface focused on languages and technologies, we invite you to contribute if you have a unique perspective or experience in both area.
                        </h3>
                        
                        <h4>Django / MySQL / Python / JavaScript</h4>
                        <div class="projectbuttons">
                            <a data-translate="viewcode" href="https://github.com/V1KILL/PROJETO-BLOGMIND">View Code</a>
                            <a data-translate="viewproject" href="https://blogmind.pythonanywhere.com/">View Project</a>
                        </div>
                    </div>
                    <div class="project">
                        <div class="projectimage">
                            <img src="../static/img/clearmind.jpg" alt="">
                        </div>
                        <h1 data-translate="project2">Project - ClearMind</h1>
                        <h3 data-translate="h3project21" >ClearMind, inspired by the widely recognized Notion app, aims to simplify the process of setting short and long-term goals.
                        </h3>
                        <h3 data-translate="h3project22" >With an intuitive visual interface, we seek to provide a clear and objective experience to help you achieve your daily goals with ease, and it's Especially reccomended to create a daily routine in your life.</h3>

                            <h4>Django / MySQL / Python / JavaScript</h4>
                        <div class="projectbuttons">
                            <a data-translate="viewcode" href="https://github.com/V1KILL/PROJETO-LISTA-DE-TAREFAS">View Code</a>
                            <a data-translate="viewproject" href="https://clearmind.pythonanywhere.com/">View Project</a>
                        </div>
                    </div>
                </div>
            </projects>
            <contacts>
                <h1 data-translate="contact">Contact Me</h1>
                <form action="https://formsubmit.co/canalv1kill@gmail.com" method="POST">
                    <input type="hidden" name="_next" value="https://http://127.0.0.1:5500/index.html">
                    <input type="hidden" name="_captcha" value="false">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <textarea name="message" cols="30" rows="10" placeholder="Message"></textarea>
                    <input type="email" name="email" placeholder="Your E-mail" required>
                    <button type="submit" data-translate="sendmessage">Send Message</button>
               </form>
               <div class="socialmedias">
                   <a href="https://www.linkedin.com/in/victor-amaral-a251aa261/" class="devicon-linkedin-plain"></a>
                   <a href="https://github.com/V1KILL" class="devicon-github-original"></a>
                    <a href="https://www.instagram.com/viktoramaral/" class="fa-brands fa-instagram"></a>
               </div>
            </contacts>
        </section>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>