<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/layout.jpg" type="image/x-icon">
    <title>Portfolio - Victor Amaral Mendonça</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Projects</a>
            <a href="">Contacts</a>
        </header>
        <section>
            <article>
                <h1>Hello, I'm Viktor Amaral</h1>
                <h3>BackEnd - Developer</h3>
                <a href="">Curriculum</a>
            </article>
            <aboutme>
                <div class="blockimage">
                    <img src="../static/img/me.jpg" alt="">
                </div>
                <div class="blocktext">
                    <h1>About Me</h1>
                    <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque quisquam consequuntur rerum vitae, quae sint, dolores facere iure pariatur blanditiis accusantium! Hic quas iure sequi, at quae officiis dolor soluta.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum ullam perferendis voluptatem error quam exercitationem voluptates iusto tenetur aut itaque dolorum obcaecati, sit culpa. Ducimus rem cupiditate repudiandae corrupti.
                    </h4>
                </div>
            </aboutme>
            <tecnologies>
                <h1>Tech</h1>
                <div class="tecnologies">
                    <div class="tecnology">
                        <i style="color: #19C37D; font-size: 3.6em;" class="devicon-django-plain"></i>
                        <p>Django</p>
                    </div>
                    <div class="tecnology">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" />
                        <p>MySQL</p>
                    </div>
                    <div class="tecnology">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"/>
                        <p>Python</p>
                    </div>
                    <div class="tecnology">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                        <p>JavaScript</p>
                    </div>
                    <div class="tecnology">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
                        <p>Git</p>
                    </div>
                    <div class="tecnology">
                        <i style="color: white; font-size: 3.6em;" class="devicon-github-original"></i>
                        <p>GitHub</p>
                    </div>
                    <div class="tecnology">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                        <p>HTML5</p>
                    </div>
                    <div class="tecnology">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
                        <p>CSS3</p>
                    </div>
                </div>
            <tecnologies>
            <projects>
                <h1>Projects</h1>
                <div class="projectsarea">
                    <div class="project">
                        <div class="projectimage">
                            <img src="../static/img/blogmind.png" alt="">
                        </div>
                        <h1>Project - BlogMind</h1>
                        <h3>The BlogMind aims to provide knowledge in various areas, making it accessible to everyone. Additionally, we offer interactive pages for easy comprehension to further enrich your experience!

                        We are an open community, welcoming curious minds in the pursuit and sharing of knowledge.😊
                        
                        With an interface focused on languages and technologies, we invite you to contribute if you have a unique perspective or experience in both area</h3>
                        <h4>Python/Django/MySQL</h4>
                        <div class="projectbuttons">
                            <a href="">View Code</a>
                            <a href="">View Project</a>
                        </div>
                    </div>
                    <div class="project">
                        <div class="projectimage">
                            <img src="../static/img/clearmind.png" alt="">
                        </div>
                        <h1>Project - ClearMind</h1>
                        <h3>ClearMind, inspired by the widely recognized Notion app, aims to simplify the process of setting short and long-term goals.

                            With an intuitive visual interface, we seek to provide a clear and objective experience to help you achieve your daily goals with ease, and it's Especially reccomended to create a daily routine in your life</h3>
                        <h4>Python/Django/MySQL</h4>
                        <div class="projectbuttons">
                            <a href="">View Code</a>
                            <a href="">View Project</a>
                        </div>
                    </div>
                </div>
            </projects>
            <contacts>
                <h1>Contacts</h1>
            </contacts>
        </section>
    </div>
</body>
</html>